{% extends "main.html" %}

{% block content %}
    <h1><center>log in page</center></h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            <center>{{ form.username.label }}</center><br>
            <center>{{ form.username }}</center><br>
            <center>{% for error in form.username.errors %}</center>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <center>{{ form.password.label }}</center><br>
            <center>{{ form.password }}</center><br>
            <center>{% for error in form.password.errors %}</center>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <center>{{ form.remember_me() }}</center><br />
           <center>{{ form.remember_me.label }}</center></p>
        <br />
        <p> 
            <center>{{ form.submit() }}</center></p>
    </form>
{% endblock %}
