{% extends "main.html" %}

{% block content %}
    <h1><center>Register menu</center></h1>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p>
            <center>{{ form.username.label }}</center><br>
            <center>{{ form.username }}</center><br>
            <center>{% for error in form.username.errors %}</center>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <center>{{ form.password.label }}</center><br>
            <center>{{ form.password }}</center><br>
            <center>{% for error in form.password.errors %}</center>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <center>{{ form.confirm.label }}</center><br>
            <center>{{ form.confirm }}</center><br>
            <center>{% for error in form.confirm.errors %}</center>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><center>{{ form.submit() }}</center></p>
    </form>
{% endblock %}
